@tailwind base;
@tailwind components;
@tailwind utilities;



/* Push pagination to the bottom */
.swiper-pagination {
  bottom: 0 !important;
  position: absolute !important;
  text-align: center;
}

/* Style bullets */
.swiper-pagination-bullet {
  background-color: #93c5fd; /* blue-300 */
  opacity: 0.5;
  width: 10px;
  height: 10px;
  margin: 0 4px !important;
  transition: all 0.3s ease;
}

.swiper-pagination-bullet-active {
  background-color: #2563eb; /* blue-600 */
  opacity: 1;
  transform: scale(1.2);
}
